@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
.container {
    background-image: linear-gradient(45deg, darkslateblue, dodgerblue);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Jost', sans-serif;
    overflow: scroll;
}
.navbar-brand {
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 1px;
    font-weight: 600;
    color:floralwhite;
}
a {
    text-decoration: none;
    color: white;
}
.port-button {
    display: flex;
    background-image: linear-gradient(45deg, dodgerblue, darkslateblue);
    padding: 17px;
    text-transform: uppercase;
    border-radius: 30px;
    width: 100%;
    align-content: center;
}
.port-button:hover {
    background-image: linear-gradient(45deg, darkslateblue, dodgerblue);
    text-decoration: underline;
    color: white;
    margin-top: 50px;
    padding: 18px 41px;
    transition: .5s;
}
.name {
    font-size: 60px;
    margin-top: 40px;

}
.name-info {
    font-size: 30px;
    margin-bottom: 50px;
    height: 100px;
}
.content {
    padding: 30px;
}
.navbar-brand {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
}
button.navbar-toggler, .collapse{
    border: none;
}